body{

    color: rgb(0, 6, 10);
}
.jumbotron{
    background-image: url("../resources/screenshots/generic_health.jpg");
    background-size: 100% 100%;
    background-blend-mode:darken;
    text-align: Center;
}

.jumbotron h1{
  color: black;
  font-family: "sans-serif";
}

#sample-metadata>h6{font-weight: bolder}
body{
    background-color: aliceblue;)
}